<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/feather-icons"></script>
  <link rel="stylesheet" href="css/style.css">
  <style>
    .carousel-item {
        background: black;
        position: relative;
        background-position: center;
        background-size: cover;
        opacity: 0.8;
    }
    h1 {
      text-align: center;
      color: white;
    }
    a {
        font-size: 15px;
    }
    h2 {
        background-color: black;
        color: #ffbb00;
        font-size: 60px;
    }
    .col img {
        width: 200px;
        height: 200px;
    }
    * {
    box-sizing:border-box;
  }

  .container {
    position: relative;
    justify-content: center;
    width: 100%;
    display: grid;
    row-gap: 10px;
  }

</style>

</head>
<body>
  <section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>about us</h3>
            <p>Querencia was created in August 2021. Querencia is a website that provides accommodation and transportation ticket booking services with the best service.</p>  
        </div>
        <div class="box">
            <h3>Quick Links</h3>
            <a href="/iindex">Home</a>
            <a href="/flights">Flight</a>
            <a href="/trains">Train</a>
            <a href="/hotels">Hotel</a>
            <a href="/contactus">Contact Us</a>
        </div>
        <div class="box">
            <h3>Follow Us</h3>
            <a href="#" class="fab fa-facebook-square">&nbsp Facebook</a>
            <a href="#" class="fab fa-instagram">&nbsp Instagram</a>
            <a href="#" class="fab fa-twitter">&nbsp Twitter</a>
        </div>
        <div class="box">
            <h3>Payments</h3>
            <img src="img/mastercard.png" width="140px" height="60px" alt="">
            <img src="img/paypal.png" width="160px" height="60px" alt="">
        </div>    
    </div>

    <h1 class="credit"> created by <span> Tim 5 </span> | all rights reserved! </h1>
</section>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="js/script.js"></script>
</body>
</html>