@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
    font-family: 'Nunito';
}
/* Navbar*/
nav .Logo{
    display: flex;
    background: #FFBB00;
    justify-content: space-around;
    padding: 20px 0;
    color: black;
}


.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: black;
  transition: all .5s ease;
  overflow-y: scroll;
}

.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 2px;
  font-size: 20px;
  color: #ffbb00;
  padding-left: 40px;
  transition: .4s;
  margin-top: 80px;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: #ffbb00;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #ffbb00;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
