<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Australia</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/stylearticle.css">

</head>
<body>

    <!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> <span> Things </span><span> To </span><span> Do </span> In Australia </h1>

    <div class="row">

        <div class="image">
            <img src="img/Aus/Syd.jpg">
        </div>

        <div class="content">
            <h3>1. Sydney Opera House (Sydney)</h3>
            <p>The Sydney Opera House is a multi-venue performing arts centre in Sydney. 
                Located on the banks of the Sydney Harbour, it is often regarded as one of the world's 
                most famous and distinctive buildings and a masterpiece of 20th century architecture.
                </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/Aus/Great Barrier.jpg">
        </div>

        <div class="content">
            <h3>2. Great Barrier Reef (Queensland)</h3>
            <p>The Great Barrier Reef is the world's largest coral reef system composed of over 2,900 
            individual reefs and 900 islands stretching for over 2,300 kilometres over an area of 
            approximately 344,400 square kilometres. The reef is located in the Coral Sea, 
            off the coast of Queensland, Australia.  
            </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/Aus/Ayers Rock.jpg">
        </div>

        <div class="content">
            <h3>3. Ayers Rock (Uluru)</h3>
            <p>Uluru, or Ayers Rock, is a massive sandstone monolith in the heart of the Northern Territory’s 
                arid "Red Centre". The nearest large town is Alice Springs, 450km away. Uluru is sacred to indigenous 
                Australians and is thought to have started forming around 550 million years ago. 
                It’s within Uluru-Kata Tjuta National Park, which also includes the 36 red-rock domes of the Kata Tjuta 
                (colloquially “The Olgas”) formation.  
                </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/Aus/Whitsunday.jpg">
        </div>

        <div class="content">
            <h3>4. Whitsunday Islands (Queensland)</h3>
            <p>The 74 Whitsunday Islands lie between the northeast coast of Queensland, Australia, and the Great Barrier Reef, 
                a massive stretch of coral teeming with marine life. Most of the islands are uninhabited. 
                They're characterized by dense rainforest, hiking trails and white sand beaches. 
                The town of Airlie Beach on the mainland is the region's central hub.  
                </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/Aus/Blue Mountain National Park.jpg">
        </div>

        <div class="content">
            <h3>5. Blue Mountains National Park (New South Wales)</h3>
            <p>Blue Mountains National Park is a vast region west of Sydney, Australia, and part of the Great Dividing Range. 
                The Echo Point lookout, near the town of Katoomba, has panoramic views of Jamison Valley and the Three Sisters, 
                a towering sandstone formation and sacred Aboriginal site. Trails lead through bushland, home to lyrebirds and crimson 
                rosella parrots, to the Giant Stairway, which descends to Jamison Valley.     
                </p>
            
        </div>

    </div>

</section>

<!-- about section ends -->
   
<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>