<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>United Emirates Arab</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/stylearticle.css">

</head>
<body>

    <!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> <span> Things </span><span> To </span><span> Do </span> In United Emirates Arab </h1>

    <div class="row">

        <div class="image">
            <img src="img/Arb/Burj Khalifa.jpg">
        </div>

        <div class="content">
            <h3>1. Burj Khalifa (Dubai)</h3>
            <p>Burj Khalifa, also known as the Khalifa Tower, formerly known as Burj Dubai, is
                a skyscraper in Dubai, United Arab Emirates which opened its doors in
                January 4, 2010. The height of this skyscraper is 828 meters (2,717 feet).
                Burj Khalifa is the tallest building in the world ever built by man.
            </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/Arb/The Dubai Mall.jpg">
        </div>

        <div class="content">
            <h3>2. The Dubai Mall (Dubai)</h3>
            <p> This is the second largest mall in
                world after Iran Mall by total land area, and the largest shopping center
                26th in the world by gross rental area, parallel to West Edmonton Mall and
                Fashion Island — both of them are older than him.Located in Dubai, United Arab Emirates, 
                it is part of 20 billion dollar City Center complex adjacent to the
                iconic, and includes more than 1,200 shops.Featuring attractions including the souk
                the world's largest, an 850,000 ft² Fashion Island; one of the aquariums
                largest in the world; an ice skating rink the size of an Olympic field; Waterfall
                Oasis Fountain; Atrium WaterFront; view (to be completed) of the world's tallest tower,
                Burj Khalifa. This mall has received 5 awards.
            </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/Arb/Ferrari World.jpg">
        </div>

        <div class="content">
            <h3>3. Ferrari World Abu Dhabi (Abu Dhabi)</h3>
            <p>Ferrari World Abu Dhabi is mostly indoor amusement park
                which is located on Yas Island in Abu Dhabi, United Arab Emirates. It's a themed park
                The world's first Ferrari and features Formula Rossa, the fastest roller coaster in
                world. The groundbreaking of this park was done on November 3, 2007. It took time
                three years to develop the park until it was officially opened to the public in
                November 4, 2010.
            </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/Arb/Louvre Abu Dhabi.jpg">
        </div>

        <div class="content">
            <h3>4. Louvre Abu Dhabi (Abu Dhabi)</h3>
            <p>Louvre Abu Dhabi is an art museum located on Saadiyat Island in Abu Dhabi,
                United Arab Emirates. It runs under an agreement between the UAE and France,
                signed in March 2007, which allowed it to use the Louvre . name
                until 2037, and has been described by the Louvre as "France's greatest cultural project"
                abroad." The area is about 24,000 square meters, with 8,000 square meters
                gallery, making it the largest art museum on the Arabian peninsula. Artwork from all over
                world is exhibited in a museum, with a view to bridging the gap between art
                East and West. In 2019, Louvre Abu Dhabi has attracted 2 million visitors,
                making it the most visited museum in the Arab world.
            </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/Arb/Sheikh Zayed Mosque.jpg">
        </div>

        <div class="content">
            <h3>5. Sheikh Zayed Grand Mosque (Abu Dhabi)</h3>
            <p>The Sheikh Zayed Grand Mosque is located in Abu Dhabi, the capital of the United Arab Emirates.
                The largest mosque in the country, it is the main place of worship for prayers
                daily. During Eid, it was visited by more than 41,000 people.
            </p>
            
        </div>

    </div>

</section>

<!-- about section ends -->
   
<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>