<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Japan</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/stylearticle.css">

</head>
<body>

    <!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> <span> Things </span><span> To </span><span> Do </span> In Japan </h1>

    <div class="row">

        <div class="image">
            <img src="img/jpn/tokyo tower.jpg">
        </div>

        <div class="content">
            <h3>1. Tokyo Tower (Tokyo)</h3>
            <p>The iconic Japanese tourist destinations that Toppers can stop by when they land their feet in Tokyo are
                Tokyo Tower. This tourist attraction in Japan which is 332.5 meters high is very beautiful to look at at night
                approaching and the lights illuminate this tower. Not only that, Toppers can also climb to the top of the tower to
                view the beauty of this Japanese capital from a height.
                </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/jpn/tokyo disneyland.jpg">
        </div>

        <div class="content">
            <h3>2. Tokyo Disneyland & Disneysea (Maihama)</h3>
            <p>Disneyland Tokyo is a Disneyland theme park with an area of ​​465,000 m² and is a theme park
                and the first Disney resort built outside America. With various recreational rides, Tokyo Disneyland and DisneySea
                is one of the amusement parks with the 4th most visitors in the world. Tokyo Disneyland is divided into 7 areas, namely:
                World Bazar, Adventureland, Westernland, Critter Country,Fantasy Island, Toon Town and Tomorrowland.
            </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/jpn/Imp place and east garrden.jpg">
        </div>

        <div class="content">
            <h3>3. Imperial Palace & East Garden (Chiyoda)</h3>
            <p>Visiting Tokyo while traveling to Japan, you can also take the time to stop by the Japanese Imperial Palace.
                In this Japanese tourist attraction, you is full of the cultural richness of this land of the rising sun.
                In this Japanese imperial complex, you can enjoy the beauty of the Imperial Palace East Gardens, which are open to the public.
                In this park there are also former Edo period fortifications, namely Honmaru and Ninomaru.
            </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/jpn/Harujuku.jpg">
        </div>

        <div class="content">
            <h3>4. Harajuku (Harajuku)</h3>
            <p>If you are on vacation in Japan with the purpose of shopping, of course Harajuku is a must-visit         destination. The district, which is located between Shinjuku and Shibuya, has long been popular as one of the world's fashion shopping destinations.
            </p> 
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/jpn/sensoji.jpg">
        </div>

        <div class="content">
            <h3>5. Sensoji (Tokyo)</h3>
            <p>Sensoji is an ancient Buddhist temple located in Asakusa, Tokyo, Japan. It is the oldest temple in Tokyo, and one of the most significant.
                Previously associated with the Tendai sect of Buddhism, it became independent after World War II.
                In Tokyo, you can find Sensoji Temple, an Ancient Buddhist temple full of historical value.
                Built as a tribute to the Bodhisattva Kannon (Guan Yin).
                </p>
            
        </div>

    </div>

</section>

<!-- about section ends -->
   
<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>