<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>United States</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/stylearticle.css">

</head>
<body>

    <!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> <span> Things </span><span> To </span><span> Do </span> In United States </h1>

    <div class="row">

        <div class="image">
            <img src="img/us/Liberty.jpg">
        </div>

        <div class="content">
            <h3>1. Statue of Liberty (New York)</h3>
            <p>The Statue of Liberty has the status of a UNESCO World Heritage Site, and
                as a statue that contains philosophical values ​​in the form of independence, and freedom from pressure.
                The height of the Statue of Liberty, New York is 93 meters, and one of the sculptors of the Statue of Liberty is a figure
                who designed the Eiffel Tower, namely Gustave Eiffel. As for another sculptor of the Statue of Liberty named Frederic Auguste Bartholdi.
                The Statue of Liberty is a bronze statue given by France to America.
                The gift is a sign of long-standing cooperation, as well as to commemorate the 100th anniversary of America's independence.
                As for the Statue of Liberty, New York was inaugurated on October 28, 1886.    
            </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/us/Grand Canyon.jpg">
        </div>

        <div class="content">
            <h3>2. Grand Canyon (Arizona)</h3>
            <p>Tourist attractions in America next is one of the seven wonders in the world, which is called the Grand Canyon. A great canyon that
                formed by the Colorado River, and has a geological age of 5-6 million years. For those of you who want to arrive at this tourist attraction, there are 2 transportation options. Among them:
                helicopters and jeeps. If using a helicopter, tourists will easily reach the top of the canyon, but the price is expensive. The difference with using a jeep,
                the tourists will only enjoy under the canyon only.
            </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/us/Golden Gate Bridge.jpg">
        </div>

        <div class="content">
            <h3>3. Golden Gate Bridge (San Francisco)</h3>
            <p>	The Golden Gate Bridge is a suspension bridge spanning the Golden Gate, the one-mile-wide strait that connects San Francisco Bay and the Pacific Ocean.
                The structure connects the US city of San Francisco, California—the northern tip of the San Francisco Peninsula—to Marin County, carrying US Route 101 and State Route.
                The bridge also carries pedestrian and bicycle traffic, and is designated as part of US Cycling Route 95.
                Originally designed by engineer Joseph Strauss in 1917. Frommer's travel guide describes the Golden Gate Bridge as "perhaps the most beautiful bridge, certainly
                the most photographed, in the world." At the time of its opening in 1937, it was the longest and tallest suspension bridge in the world, with a main span of 4,200 feet and a total height of 746 feet.
            </p>
    
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/us/universal studio.jpg">
        </div>

        <div class="content">
            <h3>4. Universal Studios Hollywood (Los Angeles)</h3>
            <p>Universal Studios Hollywood is a film studio and theme park in the San Fernando Valley area of ​​Los Angeles County, California.
                About 70% of the studios are located within the unincorporated county island known as Universal City while the remainder are located within the city limits of Los Angeles, California.
                There are so many rides that you and your children can try. Even at Universal Studios Hollywood provides Study Tour packages.
                Some of the popular rides at Universal Studio Hollywood are: Fast & Furious Super Charged, Jurassic Park The Ride, and Despicable Me Minion Mayhem.
            </p>  
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/us/White House.jpg">
        </div>

        <div class="content">
            <h3>5. White House (Washington)</h3>
            <p>The White House is where the President and First Family of the United States lived and worked — but also the People's House,
                where we hope all Americans feel inclusion and belonging. The White House It is located at 1600 Pennsylvania Avenue NW in Washington, D.C., and has become the residence of
                every US president since John Adams in 1800. The term "White House" is often used as a metonym for presidents and their advisers. This residence was designed by architect
                Irish-born James Hoban in neoclassical style.
            </p>
            
        </div>

    </div>

</section>

<!-- about section ends -->
   
<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>