<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Switzerland</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/stylearticle.css">

</head>
<body>

    <!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> <span> Things </span><span> To </span><span> Do </span> In Switzerland </h1>

    <div class="row">

        <div class="image">
            <img src="img/Swis/Rhine Falls.jpg">
        </div>

        <div class="content">
            <h3>1. Rhine Falls (Rheinfallquai)</h3>
            <p>The Rhine Falls is a waterfall located in Switzerland and the most powerful waterfall in Europe. The falls are located on the High Rhine on the border between the cantons of Schaffhausen (SH) and Zürich (ZH), between the municipalities of Neuhausen am Rheinfall (SH) and Laufen-Uhwiesen/Dachsen (ZH), next to the town of Schaffhausen in northern Switzerland.
            </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/Swis/Chapel.jpg">
        </div>

        <div class="content">
            <h3>2. Chapel Bridge (Luzern)</h3>
            <p>The Kapellbrücke is a covered wooden footbridge spanning the river Reuss diagonally in the city of Lucerne in central Switzerland. Named after the nearby St. Peter's Chapel, the bridge is unique in containing a number of interior paintings dating back to the 17th century, although many of them were destroyed along with a larger part of the centuries-old bridge in a 1993 fire. Subsequently restored, the Kapellbrücke is the oldest wooden covered bridge in Europe, as well as the world's oldest surviving truss bridge. It serves as the city's symbol and as one of Switzerland's main tourist attractions. 
            </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/Swis/chillon.jpg">
        </div>

        <div class="content">
            <h3>3. Chillon Castle (Veytaux)</h3>
            <p>Chillon Castle is an island castle located on Lake Geneva, south of Veytaux in the canton of Vaud. It is situated at the eastern end of the lake, on the narrow shore between Montreux and Villeneuve, which gives access to the Alpine valley of the Rhône. Chillon is amongst the most visited medieval castles in Switzerland and Europe. Successively occupied by the house of Savoy then by the Bernese from 1536 until 1798, it now belongs to the State of Vaud and is classified as a Swiss Cultural Property of National Significance. The Fort de Chillon, its modern counterpart, is hidden in the steep side of the mountain.
            </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/Swis/Jungfrau.jpg">
        </div>

        <div class="content">
            <h3>4. Jungfrau </h3>
            <p>The Jungfrau, at 4,158 meters is one of the main summits of the Bernese Alps, located between the northern canton of Bern and the southern canton of Valais, halfway between Interlaken and Fiesch. Together with the Eiger and Mönch, the Jungfrau forms a massive wall of mountains overlooking the Bernese Oberland and the Swiss Plateau, one of the most distinctive sights of the Swiss Alps.
            </p>  
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/Swis/Mount Pilatus.jpg">
        </div>

        <div class="content">
            <h3>5. Mount Pilatus (Lucerne)</h3>
            <p>Pilatus, also often referred to as Mount Pilatus, is a mountain massif overlooking Lucerne in Central Switzerland. It is composed of several peaks, of which the highest is named Tomlishorn.
            </p>  
            
        </div>

    </div>

</section>

<!-- about section ends -->
   
<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>