<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zimbabwe</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/stylearticle.css">

</head>
<body>

    <!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> <span> Things </span><span> To </span><span> Do </span> In Zimbabwe </h1>

    <div class="row">

        <div class="image">
            <img src="img/Zmb/Victoria Falls.jpg">
        </div>

        <div class="content">
            <h3>1. Victoria Falls (Victoria Falls)</h3>
            <p>Victoria Falls is a town in western Zimbabwe and a gateway to the massive waterfall of the same name. 
                Here, the Zambezi River plummets over a cliff and into the Boiling Pot before flowing through a series of gorges. 
                The Devil’s Pool, a natural infinity pool, is on the edge of a sheer drop. Spanning the river is 1905 Victoria Falls Bridge. 
                The surrounding Zambezi National Park is home to white rhinos and elephants.
                </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/Zmb/Mukuvisi Islnd.jpg">
        </div>

        <div class="content">
            <h3>2. Mukuvisi Woodland (Harare)</h3>
            <p>Sprawling conservation area features forested green spaces rich with native wildlife & flora.
            </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/Zmb/Hwange.jpg">
        </div>

        <div class="content">
            <h3>3. Hwange National Park (Matabeleland North)</h3>
            <p>Hwange National Park is the largest natural reserve in Zimbabwe. It is around 14,600 sq km in area. 
                It lies in the northwest of the country, just off the main road between Bulawayo and Victoria Falls. 
                The nearest town is Dete. Histories of the region's pre-colonial days and its development as a game reserve and National Park are available online  
                </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/Zmb/Matobo.jpg">
        </div>

        <div class="content">
            <h3>4. Matobo National Park (Matobo)</h3>
            <p>The Matobo National Park forms the core of the Matobo or Matopos Hills, an area of granite kopjes and wooded valleys commencing some 35 kilometres 
                south of Bulawayo, southern Zimbabwe. The hills were formed over 2 billion years ago with granite being forced to the surface, this has eroded to produce 
                smooth "whaleback dwalas" and broken kopjes, strewn with boulders and interspersed with thickets of vegetation. Matopo/Matobo is a corruption of a shona/Venda word, 
                "matombo" which means stones in Tshivenda.
                </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/Zmb/zambezi-national-park-1.jpg">
        </div>

        <div class="content">
            <h3>5. Zambezi National Park (Victoria Falls)</h3>
            <p>Zambezi National Park is a national park located upstream from Victoria Falls on the Zambezi River in Zimbabwe. It was split off from Victoria Falls National Park 
                in 1979 and is 56,000 hectares in size. The park is bisected by a road to Kazungula, dividing it into a riverine side and a Chamabonda Vlei side. Most of the park is 
                within the ecoregion of Zambezian and Mopane woodlands, while a small portion in the south is within the Zambezian Baikiaea woodlands.
                </p>
            
        </div>

    </div>

</section>

<!-- about section ends -->
   
<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>