<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>France</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/stylearticle.css">

</head>
<body>

    <!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> <span> Things </span><span> To </span><span> Do </span> In France </h1>

    <div class="row">

        <div class="image">
            <img src="img/france/Eiffel.jpg">
        </div>

        <div class="content">
            <h3>1. Eiffel Tower (Paris)</h3>
            <p>Who doesn't know the Eiffel Tower? The tower located in the Champ de Mars Park,
                Paris is a landmark of France and is already very popular in all parts of the world.
                You can climb the tower which was built from 1887-1889 with the amount of iron reaching 18,083
                arrangement, to enjoy the beautiful view from above. At night, the lights
                in Paris it was lit so that the beauty of the Eifell designed by Gustave Eifell became more and more.
            </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/france/Jembatan Archeveche prancis.jpg">
        </div>

        <div class="content">
            <h3>2. Archeveche Bridge (Paris)</h3>
            <p>The Archeveche Bridge is a bridge located near the Notre Dame Cathedral and
                was founded in 1828. What's unique about this bridge is, you can see hundreds of locked locks
                along the side of the bridge. These padlocks are from many couples who are at it
                in this place and make the padlock locked as a symbol and hope for a lasting relationship
                they. The lock key is then thrown into the river under the bridge.
                Well, this is done as a sign of the bond that their relationship remains as strong as a lock
                it remains tightly locked.      
            </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/france/Katedral Notre Dame prancis.jpg">
        </div>

        <div class="content">
            <h3>3. Notre Dame Cathedral (Paris)</h3>
            <p>Notre Dame Cathedral is the largest church in France with stylish architecture
                Gothic that is located on a small island called the Seine in the 12th century. Notre Dame Cathedral which means
                This “Our Mother in Paris” presents a beautiful and classic interior view.
                You can enjoy the beauty of the garden behind the Cathedral, you can see the view of the Seine from
                higher levels and dungeons that are open to the public.
            </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/france/Palace of Versailles.jpg">
        </div>

        <div class="content">
            <h3>4. Palace of Versailles (Versailles)</h3>
            <p>The Palace of Versailles is a famous palace building and historical monument that has been
                become a world heritage site by UNESCO. In 2017, the Palace of Versailles received
                7.7 million visitors, making it the second most visited monument in the le-de-France region.
                In this famous tourist area, you will enjoy the beauty of the interior of the palace with golden colors and lights
                very beautiful hanging.
            </p>    
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/france/Arc de Triomphe.jpg">
        </div>

        <div class="content">
            <h3>5. Arc de Triomphe (Paris)</h3>
            <p>The Arc de triomphe de l'Étoile or commonly known as the Arc de Triomphe is an arch-shaped monument
                victory in Paris which stands in the center of the Place de l'Étoile area, at the western end of the Champs-Élysées region. Building
                It was built on the orders of Napoleon Bonaparte with the aim of honoring the services of his great army.
                The Arc de Triomphe is not just a historical building of artistic value. The building has many statues depicting
                revolution and imperial era. There is also an eternal fire and a museum that stores various things related to the history of the building.
                The top of the building offers an amazing view of Paris.
                </p>
            
        </div>

    </div>

</section>

<!-- about section ends -->
   
<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>