<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indonesia</title>
     <!-- font awesome cdn link  -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

     <!-- custom css file link  -->
     <link rel="stylesheet" href="css/stylearticle.css"> 
</head>
<body>
   <!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> <span> Things </span><span> To </span><span> Do </span> In Indonesia </h1>

    <div class="row">

        <div class="image">
            <img src="img/id/Candi Borobudur.jpg">
        </div>

        <div class="content">
            <h3>1. Borobudur Temple (Jawa Tengah)</h3>
            <p>Borobudur, also transcribed Barabudur is a 7th-century Mahayana Buddhist temple in 
                Magelang Regency, not far from the town of Muntilan, in Central Java, Indonesia. 
                It is the world's largest Buddhist temple. The temple consists of nine stacked platforms, 
                six square and three circular, topped by a central dome
                </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/id//pulau komodo.jpg">
        </div>

        <div class="content">
            <h3>2. Komodo Islands (NTT)</h3>
            <p>Komodo island, part of the Lesser Sunda chain of Indonesian islands, is the rugged habitat 
                of the 3m-long Komodo dragon monitor lizard. Komodo National Park covers the entire region and is 
                home to more than 4,000 dragons, and is made up of rusty-red volcanic hills, savannah and forests. 
                Its surrounding waters of seagrass beds, mangrove shrublands and coral reefs are famous for diving.
                </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/id/monas jakarta.jpg">
        </div>

        <div class="content">
            <h3>3. The National Monument Monas (Jakarta)</h3>
            <p>The National Monument is a 132 m obelisk in the centre of Merdeka Square, Central Jakarta, 
                symbolizing the fight for Indonesia. It is the national monument of the Republic of Indonesia, 
                built to commemorate the struggle for Indonesian independence. Construction began in 1961 under 
                the direction of President Sukarno.
                </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/id//kuta-beach-bali.jpg">
        </div>

        <div class="content">
            <h3>4. Kuta Islands (Bali)</h3>
            <p>Kuta is a tourist area, administratively an urban village (kelurahan), and the capital of Kuta District, Badung Regency, southern Bali, Indonesia. A former fishing village, it was one of the first towns on Bali to see substantial tourist development, and as a beach resort remains one of Indonesia's major tourist destinations. It is known internationally for its long sandy beach, varied accommodation, many restaurants and bars, and many renowned surfers who visit from Australia. It is located near Bali's Ngurah Rai Airport.
            </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/id/lawang-sewu.jpg">
        </div>

        <div class="content">
            <h3>5. Lawang Sewu (Jawa Tengah)</h3>
            <p>Lawang Sewu, literally Thousand Doors, is a landmark in Semarang, Central Java, Indonesia, built as the headquarters of the Dutch East Indies Railway Company. The colonial era building is famous as a haunted house, though the Semarang city government has attempted to rebrand it. 
            </p>
            
        </div>

    </div>

    </section>

    <!-- about section ends -->
   
    <!-- custom js file link  -->
    <script src="js/script.js"></script>

</body>
</html>