<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brazil</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/stylearticle.css">

</head>
<body>

    <!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> <span> Things </span><span> To </span><span> Do </span> In Brazil </h1>

    <div class="row">

        <div class="image">
            <img src="img/Brazil/Christ the Redeemer.jpg">
        </div>

        <div class="content">
            <h3>1. Christ the Redeemer (Rio de Janeiro)</h3>
            <p>Christ the Redeemer is an Art Deco statue of Jesus Christ in Rio de Janeiro, Brazil, created by French sculptor Paul Landowski and built by Brazilian engineer Heitor da Silva Costa, in collaboration with French engineer Albert Caquot. Romanian sculptor Gheorghe Leonida fashioned the face. Constructed between 1922 and 1931, the statue is 30 metres high, excluding its 8-metre pedestal. The arms stretch 28 metres wide. The statue weighs 635 metric tons, and is located at the peak of the 700-metre Corcovado mountain in the Tijuca National Park overlooking the city of Rio de Janeiro. A symbol of Christianity across the world, the statue has also become a cultural icon of both Rio de Janeiro and Brazil and was voted one of the New Seven Wonders of the World. It is made of reinforced concrete and soapstone.
            </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/Brazil/Ibirapuera.jpg">
        </div>

        <div class="content">
            <h3>2. Ibirapuera Park (São Paulo)</h3>
            <p>Ibirapuera Park is an urban park in São Paulo. It comprises 158 hectares between Av. República do Líbano, Av. Pedro Alvares Cabral, and Av. IV Centenário, and is the most visited park in South America, with 14.4 million visits in 2017. Ibirapuera Park was the first metropolitan park in São Paulo, designed along the lines of other great English landscape gardens built in the 20th century in major cities around the globe, but inspired on modern drafts from the landscape architect Roberto Burle Marx
            </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/Brazil/Museu.jpg">
        </div>

        <div class="content">
            <h3>3. Museu do Amanhã (Rio de Janeiro)</h3>
            <p>The Museum of Tomorrow is a science museum in the city of Rio de Janeiro, Brazil. It was designed by Spanish neofuturistic architect Santiago Calatrava, and built next to the waterfront at Pier Maua. Its construction was supported by the Roberto Marinho Foundation and cost approximately 230 million reais. The building was opened on December 17, 2015, with President Dilma Rousseff in attendance. 
            </p>
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/Brazil/Museum.jpg">
        </div>

        <div class="content">
            <h3>4. Museum of Art of São Paulo Assis Chateaubriand (São Paulo)</h3>
            <p>The São Paulo Museum of Art is an art museum located on Paulista Avenue in the city of São Paulo, Brazil. It is well known for its headquarters, a 1968 concrete and glass structure designed by Lina Bo Bardi, whose main body is supported by two lateral beams over a 74 metres freestanding space, considered a landmark of the city and a main symbol of modern Brazilian architecture. The museum is a non-profit institution founded in 1947 by Assis Chateaubriand and Pietro Maria Bardi. MASP distinguished itself for many important initiatives concerning museology and art education in Brazil, as well as for its pioneering role as a cultural center. 
            </p>    
            
        </div>

    </div>
    <div class="row">

        <div class="image">
            <img src="img/Brazil/Parque.jpg">
        </div>

        <div class="content">
            <h3>5. Parque Nacional dos Lençóis Maranhenses (Northeastern Maranhão)</h3>
            <p>Lençóis Maranhenses National Park is a protected area on Brazil’s north Atlantic coast. It’s known for its vast desert landscape of tall, white sand dunes and seasonal rainwater lagoons. Lagoa Azul and Lagoa Bonita are two of the largest lagoons. The park’s diverse ecosystem also includes mangrove swamps. The nearby towns of Barreirinhas and Santo Amaro do Maranhão are gateways to the park.  
            </p>    
            
        </div>

    </div>

</section>

<!-- about section ends -->
   
<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>